html,body {
            height: 100%;
            margin: 0;
        }
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 300px;
            background-color: black;
        }
        #loading {
            --size: 300px;
            --quarter: calc(var(--size) / 4);
            width: var(--size);
            height: var(--quarter);
            display: flex;
            align-items: center;
            justify-content: space-around;
            border: calc(var(--size) / 35) solid cyan;
            border-top: none;
        }
        #loading>div {
            width: calc(var(--quarter) * .9);
            height: calc(var(--quarter) * .9);
            background-color: cyan;
            border-radius: 50%;
            animation-name: moveH;
            animation-duration: .7s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        #first {
            transform-origin: calc(var(--size) / 2 - var(--quarter) * .05);
            animation-name: jump !important;
        }
        @keyframes jump {
            to {
                transform: rotate(180deg)
            }
        }
        @keyframes moveH {
            to {
                transform: translate(calc(var(--quarter) * -1))
            }
        }
    